
@font-face {
  font-family: 'iconfont';  /* project id 823257 */
  src: url('//at.alicdn.com/t/font_823257_8joyavru6yr.eot');
  src: url('//at.alicdn.com/t/font_823257_8joyavru6yr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_823257_8joyavru6yr.woff') format('woff'),
  url('//at.alicdn.com/t/font_823257_8joyavru6yr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_823257_8joyavru6yr.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

